export ENABLE_RACK_ATTACK=true
export DB_ADAPTER=postgresql
export DB_DBNAME=weather_check
export DB_HOSTNAME=localhost
export DB_USERNAME=weather_check
export DB_PASSWORD=weather_check
export POSTGRES_PASSWORD=weather_check
export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_DB=0
export FOG_DIRECTORY=weather_check-dev
export WEATHER_API_TOKEN="6fbc25241b444dd4abb20609230203"